body {
  padding-top: 70px;
}

/* h1 {
  font-size: 3em;
}*/

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navigationLinkButton:hover {
    cursor: pointer;
}

a {
    color: #03A9F4;
}
